<%- include('includes/head.ejs') %>
    <h1>users</h1>
    <% if(users.length>0){%>
        <ul>
            <% users.foreach((user)=>{ %>
                <li>
                    <%= user.name %>
                </li>
                <% })%>
        </ul>
        <%} else { %>
            <h1>no user found</h1>
            <% } %>

                <%- include('includes/end.ejs') %>